{% extends "admin_base.html" %} {% block body %}
<article>
  <p>
    The onboarding process for a new employee at a new organization can be
    intimidating and overwhelming. Innovate and create an interactive and
    friendly AI conversational bot that acts as a buddy for the new employee and
    provides a smooth transition into the new organization and team. The AI
    conversational bot should be able to walk through the needs of the employee
    and be the favored point of contact to learn all about the company culture,
    parts of the job, team's role, etc. Our friendly bot should even be able to
    pull in the latest information from the organization site (unisys.com) and
    provide the latest company news, suggestions about the company's clubs or
    even recommendations to cafes nearby to enjoy a hot cup of coffee.
  </p>
</article>
{%endblock%}
