<div class="chat-box">
  <div class="result-messages">
    {% for message in messages %} {% if message.sender == "user" %}
    <div class="mine messages">
      {% if message.mtype == "list" %} {% for item in message.message %}
      <div class="message last shadow-sm">{{item}}</div>
      {%endfor%} {%else%}
      <div class="message last shadow-sm">{{message.message}}</div>
      {%endif%}
    </div>
    {% else %}
    <div class="yours messages">
      {% if message.mtype == "list" %} {% for item in message.message %}
      <div class="message last shadow-sm">{{item}}</div>
      {%endfor%} {%elif message.mtype == "link" %} {% for link in
      message.message %}
      <a href="{{link.link}}" class="message last shadow-sm" target="_blank"
        >{{link.text}}</a
      >
      {%endfor%} {%else%}
      <div class="message last shadow-sm">{{message.message}}</div>
      {%endif%}
    </div>
    {% endif %} {%endfor%}
  </div>
  <form action="/chats" method="post" id="query-form" class="query">
    <div class="input-group mb-3 shadow-sm">
      <input
        autofocus
        type="text"
        name="query"
        id="query"
        class="form-control shadow-none"
        placeholder="Type a message"
        aria-label="Type a message"
        aria-describedby="basic-addon1"
      />
      <button
        type="submit"
        name="b0"
        value="query-submit"
        class="input-group-text"
        id="basic-addon1"
      >
        <img
          src="{{url_for('static',filename='assets/send.svg')}}"
          alt="send-btn"
        />
      </button>
    </div>
  </form>
  <form method="POST" action="/chats" class="suggestions">
    <a>Suggestions</a><a>:</a>
    <button
      type="submit"
      name="b1"
      value="Onboard me"
      class="badge rounded-pill bg-secondary shadow-sm"
    >
      Onboard me</button
    ><button
      type="submit"
      name="b2"
      value="View Team & Team Mates"
      class="badge rounded-pill bg-secondary shadow-sm"
    >
      View Team & Team Mates</button
    ><button
      type="submit"
      name="b3"
      value="About Unisys"
      class="badge rounded-pill bg-secondary shadow-sm"
    >
      About Unisys
    </button>
    <button
      type="submit"
      name="b4"
      value="Latest News"
      class="badge rounded-pill bg-secondary shadow-sm"
      onclick="loading();"
    >
      Latest News
    </button>
    <button
      type="submit"
      name="b5"
      value="Nearby Restaurants"
      class="badge rounded-pill bg-secondary shadow-sm"
    >
      Nearby Cafes
    </button>
    <button
      type="submit"
      name="b6"
      value="My Email"
      class="badge rounded-pill bg-secondary shadow-sm"
    >
      Show My Email
    </button>
    <button
      type="submit"
      name="b7"
      value="Join Team Slack Channel"
      class="badge rounded-pill bg-secondary shadow-sm"
    >
      Join Team Slack Channel
    </button>
    <button
      type="submit"
      name="b8"
      value="unisys.com"
      class="badge rounded-pill bg-secondary shadow-sm"
    >
      Visit unisys.com
    </button>
  </form>
</div>
